p {
    clear: both;
    margin-bottom: 1em;
    margin-top: 0;
}
.q_page #main {
    padding:0 30px;
}
#question-header {
    clear: both;
    margin-bottom: 1em;
    padding: 25px 30px 10px;
    border-bottom: 1px solid #afc2d6;
}
#question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#question-header h1 {
    margin-bottom: .5em;
    font-size: 22px;
}

.pl8 {
    padding-left: 8px !important;
}
.ws-nowrap {
    white-space: nowrap !important;
}
[class*="btn-"] {
    display: inline-block;
    position: relative;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: color .1s ease-in,background-color .1s ease-in,border-color .1s ease-in,box-shadow .1s ease-in;
    font-size: 100%;
}
.btn-outlined {
    color: #07c;
    background-color: rgba(0,119,204,0);
    border-color: #0095ff;
    box-shadow: none;
}
.btn-outlined:hover {
    color: #005999;
    background-color: #e6f4ff;
    border-color: #07c;
    box-shadow: none;
}
#mainbar, .mainbar {
    float: left;
    width: 728px;
    margin: 0;
    padding: 0;
}
.question {
    clear: both;
    margin: 35px 0;
}
.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 798px;
    margin-left: 30px;
}
.post-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    box-sizing: border-box;
}

.post-layout {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
}
.post-layout--right {
    flex-shrink: 1;
    width: calc(100% - 70px - 16px - 2px);
    min-width: 0;
}
.post-layout--right {
    grid-column: 2;
    width: 600px;
}
.post-layout--left {
    grid-column: 1;
    width: auto;
}
.vote {
    text-align: center;
}
.votecell {
    vertical-align: top;
    padding-right: 15px;
}
.post-layout--left, .post-layout--left.votecell {
    flex-grow: 0;
    width: 70px;
    padding: 0;
}

.post-layout--left, .post-layout--left.votecell {
    width: 60px;
    padding-right: 15px;
}

.votecell .vote {
    min-width: 46px;
}
.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0 0 3px;
}
.vote span {
    display: block;
    color: #6a737c;
}
.votecell .vote-count-post {
    margin: 8px 0;
}


.question .postcell {
    vertical-align: top;
}

.post-layout--right .post-text, 
.post-layout--right .comments {
    width: 100%;
}

.post-text, .wmd-preview {
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}
.post-text {
    width: 660px;
}

#answers .answer {
    border-bottom: 1px solid #e4e6e8;
}

#answers {
    padding-top: 10px;
}
#questions, #answers {
    clear: both;
    width: 828px;
}
#answers-header {
    margin-top: 10px;
    width: 828px;
}
.subheader {
    clear: both;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid #afc2d6;
}

h1, h2, h3 {
    line-height: 1.3;
    margin: 0 0 1em;
}
h2 {
    font-size: 18px;
}
.subheader h1, .subheader h2 {
    float: left;
    margin-bottom: 0;
    font-weight: normal;
}

.subheader h2 {
    color: #3b4045;
    font-size: 18px;
}
#mainbar h2, .mainbar h2, #mainbar h3, .mainbar h3, #mainbar h4, .mainbar h4 {
    font-weight: 400;
}

.star-off, .star-on {
    background-image: url(../assets/sprites.svg);
    background-image: url(../assets/sprites.svg),none;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}

.star-off, .star-on {
    text-indent: -9999em;
    font-size: 1px;
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
}
.star-off {
    background-position: 0 -120px;
    cursor: pointer;
}
.star-on {
    background-position: -40px -120px;
}

.post-layout--right2{
    flex-shrink: 2;
    width: 110px;
    grid-column: 3;
}
.post-layout--right2 input{
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.question-owner {
    display: false;
}